body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("/Imgs/BACKGROUND.png");
    background-size: cover;
}

.barra {
    width: 90vw;
    height: 38px;
    top: 15px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    margin-bottom: 25px;
}

input {
    width: 239px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

::placeholder {
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.conta{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 45px;
    right: 10px;
    display: flex;
    justify-content: baseline;
    align-items: center;
     background: linear-gradient(180deg,rgb(45, 187, 66) 0%, rgba(59, 195, 80, 1) 50%, rgb(24, 161, 44) 100%);
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}
.lista{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    list-style: none;
    gap: 10px;
    letter-spacing: 2px;
}
#perfil {
    width: 32px;
    height: 32px;
}

.inicio {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

i{
    margin-right: 15px;
}