main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 870px;
    height: 500px;
    background: linear-gradient(180deg,rgb(45, 187, 66) 0%, rgba(59, 195, 80, 1) 50%, rgb(24, 161, 44) 100%);
    box-shadow: 5px 2px 15px rgb(15, 92, 0);
}
.formulario{
    width: 830px;
}
 #confirmar{
    width: 435px;
    height: 45px;
 }
 h1, h2{
    color: rgba(255, 255, 255, 1);
 }